/*Custom css stylings*/

#description {
    color: green;
    font-size: 20px;
}

h1, h2, h3 {
    color: green;
}


#id {
    margin-bottom: 35px;
}

img {
    opacity: 0.5;
    position: center;
}







