@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <h1>Beer Snob</h1>
        @*<p class="lead">BeerSnob Description Goes Here. </p>*@
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Login to get started</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>BeerSnob Description Goes Here.</h2>

            <form>
                <div class="form-row align-items-center">
                    @*<div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="BeerDrinker">
                        </div>*@
                    <div class="col-auto">
                        @*<label class="sr-only" for="inlineFormInputGroup">Username</label>*@
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Enter your username:</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                            <label class="form-check-label" for="autoSizingCheck">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Login to get started</button>
                    </div>
                </div>
            </form>

            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        @*<div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>
}