    <head>
        @{
            ViewBag.Title = "Home Page";
        }

        <link rel="stylesheet" type="text/css" href="~/Content/custom.css">

    </head>
  
        <img class="img-responsive img-circle" style="margin: 0 auto;" src="../Content/beerBackground.jpg">
    
    <div class="text-center">
        <h1>Beer Snob</h1>
    </div>


    <div class="row">
        <div class="col-auto text-center">
            <div id="description">
                Beer Snob lets you keep track of all of your favorite beers as you try them.  No more trying to remember what the name of that one beer is,
                or where you tried it, or exactly what you thought it tasted like.  Now it's easy to keep track of.
            </div>
        </div>
    </div>
    <form>
        <div class="col-auto text-center">
            @Html.ActionLink("Let's get started", "Index", "Beer", null, new { @class = "btn btn-primary btn-large" })

        </div>
    </form>





